
body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:white;
}
.login-box{
  width:300px;
  margin:100px auto;
  padding:30px;
  background:#111827;
  border-radius:15px;
  text-align:center;
}
.login-box input, .login-box button{
  width:100%;
  padding:10px;
  margin-top:10px;
}
.dashboard{
  display:flex;
}
.sidebar{
  width:220px;
  background:#111827;
  padding:20px;
}
.sidebar button{
  width:100%;
  margin-top:10px;
  padding:10px;
}
.main{
  flex:1;
  padding:30px;
}
.card{
  background:#1f2937;
  padding:20px;
  border-radius:15px;
}
